html, body, #root {
  height: 100%;
  width: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, headerBar, hgroup,
button,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.content {
  /*max-width: 450px;*/
  overflow: hidden;
  height: 100%;
  background: rgb(244,41,179);
  background: linear-gradient(160deg, rgba(244,41,179,1) 0%, rgba(54,82,194,1) 100%);
}

.call_text {
  font-family: Gilroy-Heavy;
  color: white;
  font-size: 3vh;
  letter-spacing: 1.3px;
}

.arm {
  animation-duration: 2s!important;
  height: 15vw;
  width: 15vw;
  position: absolute;
  top: 0;
}

.boss_glasses {
  height: 28vw;
  position: absolute;
  top: 4vh;
  left: 7vh;
}

.in_love_emoji {
  height: 15vw;
  position: absolute;
  top: 2vh;
  right: 4vh;
  transform: rotate(69deg);
}

.arm2 {
  animation-duration: 4s!important;
  height: 27vw;
  position: absolute;
  top: 12vw;
  left: 42vw;
}

.godzilla {
  height: 54vw;
  position: absolute;
  top: 71vw;
  right: 11vw;
}

.godzilla2 {
  animation-duration: 3s!important;
  height: 25vw;
  position: absolute;
  bottom: 40vw;
  right: 0;
}

.bang {
  height: 24vw;
  position: absolute;
  top: 62vw;
  right: 32vw;
}

.hmm_emoji {
  height: 21vw;
  position: absolute;
  bottom: 12vw;
  right: 6vw;
  transform: rotate(-56deg);
}

.leg {
  height: 30vw;
  position: absolute;
  top: 36vw;
  left: 3vw;
}

.leg2 {
  height: 33vw;
  position: absolute;
  top: 33vw;
  left: 32vw;
}

.star {
  height: 14vw;
  position: absolute;
  top: 62vw;
  right: 8vw;
}

.star2 {
  animation-duration: 3s!important;
  height: 10vw;
  position: absolute;
  bottom: 63vw;
  right: 8vw;
  transform: rotate(100deg);
}

.wow_emoji {
  animation-duration: 3s!important;
  height: 23vw;
  position: absolute;
  bottom: 69vw;
  left: 12vw;
}

.content_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 50vw;
  padding-left: 2vw;
  padding-bottom: 2vw;
}

.take_photo_button {
  background-color: white;
  border-radius: 2vw;
  margin-top: 3vw;
  pointer-events: none;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.take_photo_button__label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14vw;
  width: 54vw;
  color: rgba(54,82,194,1);
  font-family: Gilroy-Heavy;
  letter-spacing: 1.1px;
  text-align: center;
  font-size: 1.25em;
  font-weight: 900;
  background-color: white;
  border-radius: 2vw;
  margin-top: 2vw;
}

.take_photo_button__label:focus,
.take_photo_button__label:hover {
  background-color: whitesmoke;
  color: rgba(54,82,194,0.7);
}

.loading {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.modal {
  background: linear-gradient(160deg, rgba(244,41,179,1) 0%, rgba(54,82,194,1) 100%);
  width: 100%;
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_text {
  font-family: Gilroy-Heavy;
  color: white;
  font-size: 3vh;
  letter-spacing: 1.3px;
  text-align: center;
}

.t_pose_emoji {
  width: 85%;
}
